<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RESTAURANT.name%></title>
</head>
<body>
    <%- include('./partials/nav') %>

  <h1><%= RESTAURANT.name%> - Home Page</h1>
  <h2>Address: <%= RESTAURANT.address%></h2>
  <h2>Phone Number: <%= RESTAURANT.phone%></h2>
  <% if(RESTAURANT.isOpen === true){%>
    <h2>Yes, we are Open!</h2>
  <%}%>
</body>
</html>
